@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


a.active hr{
 display:block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active{
   background-color: black;
   color: white;
  }
}

body {
  background-color: #0B0E14;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}